/*Desktop Layout*/

body {
    margin:0.5;
    font-family: 'Amaranth', sans-serif;
    width: 100%;
    background-color:antiquewhite;
}
img#beach{
    max-width: 100%;
    display: block;
    margin:auto;
}
h2{
    width: 100%;
    text-align: center;
}
h3{
    width: 100%;
    text-align: center;
}
.p1{
    width: 100%;
    text-align:center;
}
.p2{
    width: 100%;
    text-align:center;
}
section{
    font-family: 'Amaranth', sans-serif;
    float: left;
    display: inline-block;
}
.h4{
    line-height: 1.8;
}
section#aboutme{
    width: 30%;
}
img#me{
    width: 100%;
}

section#exercises{
    padding-bottom: 80px;
    width: 35%;
    line-height: 1.8;
}

section#projects{
    width: 35%;
    line-height: 1.8;

}
h4{
    border-bottom:solid ;

}

footer{
    position:fixed;
    bottom: 0;
    width:100%;
    background-color:antiquewhite;
    display:inline-block;
}
/*Mobile Layout*/

@media only screen and (Max-width:500px) {

    Body{
        Width:99%;
        margin:2% 2% 0% 1%;
    }
    img#beach{
        width: 100%;
    }

    img{
        width:100%;
    }
    section#aboutme{
        bottom: 0;
        width:100%;
    }
    section#exercises{
        line-height: 1.4;
    }
    section#projects{
        line-height: 1.4;
    }
    img#me{
        width: 100%;
    }
    .p2{
        display:none;
    }
}
    
    @media only screen and (min-width:501px) {
        .p3{
            display:none;
        }
    }
        
    
    